.navbar {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #2e2b31 84%);
}

.gradient-text1 {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(-7px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(-7px);
  }
}

.col-heading {
  background: rgb(67, 67, 67);
  background: linear-gradient(
    315deg,
    rgb(41, 41, 41) 0%,
    rgba(35, 35, 35, 1) 20%,
    rgba(35, 35, 35, 1) 75%,
    rgb(41, 41, 41) 100%
  );
}

.gradient-text2 {
  background: -webkit-linear-gradient(#eee, #a600fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
